@model FruitViewModel

<h1>Fruit info</h1>

<p><b>Name:</b>  @Model.Name</p>
<p><b>Description:</b>  @Model.Description</p>
<p><b>Price:</b>  @Model.Price</p>
<p><b>Quantity:</b>  @Model.Quantity</p>

