@model IEnumerable<FruitViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var item in Model)
    {
        <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Name">@item.Name - @item.Description</a><br />
    }
</div>
